html, body {
    box-sizing: border-box;
    font-family: Proxima Nova, sans-serif;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);  
    grid-template-rows: repeat(6, 15vh) 10vh;
    background-color: #f7f7f7;
}

.header {
    grid-column: 1/11;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-family: Proxima Nova, sans-serif;
    color: #4D5055;
}

.console-container {
  grid-column: 4/8;
  grid-row: 2/7;
  background-color: white;
  position: relative;
}

.dropdown-menu-icons::before {
  content: attr(data-icon);
  font-family: "FontAwesome";
}

.navbar {
    grid-column: 1/4;
    grid-row: 2/5;
    list-style-type: none;
    color: #604f55;
    font-size: 20px;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-left: 10vw;


}

.navbar-menu li {
    list-style-type: none;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
}
/* Apply style if navbar item selected */
.selected {
    font-weight: 900;
}

.console-container form {
    height: 100%;
}

.console-container select {
    border: none;
    width: 100%;
    height: 4.5vh;
    outline: none;
    background-color: white;
}

.select-container {
    width: 100%;
    border: 1px solid  #d0d0d0;;
    height: 5vh;
}

.remove-user-img {
    height: 65%;
    margin-top: 30%;
    text-align: center;
}

form[name="removeuser"] input[type="submit"]{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid #e41600;
    background-color: white;
    color: #e41600;
    border-radius: 0;
    height: 5vh;
    outline: none;
}

form[name="setgoal"] input[type="submit"]{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid #14c6a2;;
    background-color: white;
    color: #14c6a2;;
    border-radius: 0;
    height: 5vh;
    outline: none;
}

form[name="setgoal"] h2{
    margin-top: 10vh;
    margin-bottom: 2vh;
}

input[type="number"], 
input[type="time"] {
    width: 100%;
    height: 5vh;
    outline: none;
    font-size: 30px;
}

.radio-button-div {
    margin: 5vh auto;
}


[data-trophy] {
    color: gold;
}

[data-time] {
    grid-column: 1/11;
    grid-row: 7/8;
    justify-self: center;

}
[data-greeting] {
    grid-column: 5/9;
    grid-row: 2;
    align-self: top;
}
.dropdown-menu {
    position: relative;
    top: 0;
}


.btn-group {
    grid-column: 8/9;
    grid-row: 2;
    align-self: bottom;
}

.btn-group button {
  background-color:#04a2ff;
  color: white;
  width: 100%;
}

.btn-group button:hover {
  background-color:white;
  color: #04a2ff;
  width: 100%;
}


[data-chart] {
    grid-column: 2/11;
    grid-row: 3/6;
    margin: 10px;
}
[data-chart-align] {
    justify-self: center;
}
canvas {
    width: 90%;
}
h2 {
    font-size: 14px;
}
/* Media query for phone portrait */
@media screen and (max-width: 768px) and (orientation: portrait) {
    [data-time] {
        display: none;
    } 
    [data-chart] {
        grid-column: 2/10;
        grid-row: 3/6;
        margin: 10px;
    }    
    [data-logo] {
        width: 250px;
    }
    h3 {
        font-size: 12px;
    }
  }
/* Media query for phone landscape */
@media screen and (max-width: 768px) and (orientation: landscape) {
    [data-time] {
        display: none;
    } 
    [data-chart] {
        grid-column: 4/10;
        grid-row: 3/5;
        margin: 10px;
        start-at-zero: true;
    }    
    [data-logo] {
        width: 250px;
    }
    [data-dropdown] {
        grid-column: 2/6;
    }
    h3 {
        font-size: 12px;
    }
  }
  /* Media query for tablet: portrait */
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    [data-logo] {
        width: 400px;
    }
    [data-dropdown] {
        grid-column: 2/5;
    }
    h2 {
        font-size: 22px;
    }
    
    } 

  /* Media query for tablet: landscape */
  @media screen and (min-width: 1025px) and (max-width:1200px) and (orientation: landscape) {
    [data-logo] {
        width: 400px;
    }
    h2 {
        font-size: 30px;
    }
    [data-chart] {
        font-size: 28px;
    }
  } 
/* Media query for laptop and desktop */
@media screen and (min-width: 1200px) {
    [data-logo] {
        width: 400px;
    }
    h2 {
        font-size: 30px;
    }
    [data-chart] {
        font-size: 28px;
        grid-row: 3/6;
        grid-column: 3/9;
    }
  } 
  @media screen and (min-width: 1200px) {
    [data-time] {
        grid-row: 1;
        grid-column: 6/8;
        align-self: center;
    }
    [data-logo] {
        grid-column: 2/5;
    }
}