.blue {
    background-color: #00A2FF;
    height: 15vh;
} 

.white {
    background-color: white;
    height: 70vh;
}

.brown {
    background-color: brown;
    height: 15vh;
}
img {
    width: 120px;
}