html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

#header {
    box-shadow: 0 7px 20px -5px rgba(0,0,0,0.2);
    background-color: white;
    height: 15vh;
}

#header h2 {
    margin-top: 2%;
    color: #646873;
}

.sheep img {
    display: block;
    position: absolute;
    right: 10px;
}

#test {
    /* position: absolute; */
    /* animation-name: example;
    animation-duration: 5s; */

    transform: translate(-27vw);
    transition: transform 10s;

}

#goalMet {
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
    0%  {background-color: #2b1de8}
    11% {background-color: #FA1680}
    22% {background-color: #fdbe2c}
    33% {background-color: #e3e81d}
    44% {background-color: #1de840}
    55% {background-color: #1ddde8}
    66% {background-color: #2b1de8}
    77% {background-color: #dd00f3}
    99% {background-color: #2b1de8}
    100% {background-color: #2b1de8}
}

.goals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.goal {
    font-size: 30px;
}

.goal::before {
    content: attr(data-icon);
    font-family: "FontAwesome";
    color: #ffd700;
}

.goal-achieved {
    font-size: 30px;
}

.goal2::before {
    content: attr(data-icon-2);
    font-family: "FontAwesome";
    color: #ffd700;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 4%;
}

.logo img {
    width: 12vw;
    min-width: 150px;
}


.time {
    text-align: center; 
    font-size: 30px;
}

.time2 {
    text-align: center; 
    font-size: 30px;
}

.time::before{
    content: attr(data-icon);
    font-family: "FontAwesome";
}

.goalNumber {
    font-weight: bold;
}

.dashboard {
    min-height: 95vh;
}

.footer {
    color: white;
    text-align: right;
    vertical-align: middle;
    padding-right: 2%;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

td h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 26px;
}

#currentTime::before {
    content: attr(data-icon);
    font-family: "FontAwesome";
}

.counter-div {
    font-size: 30px;
}

.counter-div::before{
    content: attr(data-icon);
    font-family: "FontAwesome";
}


.white {
    background-color: white;
    height: 80vh;
}

.blue {
    background-color: #00A2FF;
}

.picture-size img {
    width: 7vw;
    border-radius: 50%;
}

.picture-size {
    width: 10vw;
}
.assigned {
    background-color: #00A2FF;
}

.solved {
    background-color: #bed686;
}

.hide {
    display: none;
}

.translate-screen {
    transform: translate(-5000px);
    transition: transform 20s; 
}

@media screen and (max-width: 1302px) {
    .time, .goals, .counter-div {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    table, tbody, tr, td {
        display: block;
    }

    table {
        position: relative;
    }

    #table-mobile {
        display: block;
    }

    #no-table {
        display: none;
    }

    #header img {
        margin: 0 auto 0 auto;
    }

}
